<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741621440484-en4b2f6mg5pb1il1e79bgdb9uq3t9uo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741621440484-en4b2f6mg5pb1il1e79bgdb9uq3t9uo5</string>
	<key>API_KEY</key>
	<string>AIzaSyD-z3_DIQOrVC8RShywVjlFH2mmJh0RRB4</string>
	<key>GCM_SENDER_ID</key>
	<string>741621440484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.Haresu.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-88185</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-88185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741621440484:ios:1c012761e4f931c0</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-88185.firebaseio.com</string>
</dict>
</plist>